.main {
  width: 400px;
  height: 400px;
  border: 2px solid var(--dark-grey);
  position: relative;
  box-sizing: unset;
}

.lineX {
  position: absolute;
  height: 100%;
  background-color: var(--light-grey);
  width: 2px;
  right: calc(50% - 1px);
}
.lineY {
  position: absolute;
  width: 100%;
  background-color: var(--light-grey);
  height: 2px;
  top: calc(50% - 1px);
}

.headlineBoxLeftTop {
  position: absolute;
  width: 200px;
  display: flex;
  justify-content: center;
  top: 5px;
}

.headlineBoxRightTop {
  position: absolute;
  right: 0;
  width: 200px;
  display: flex;
  justify-content: center;
  top: 5px;
}

.headlineBoxLeftBottom {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.headlineBoxRightBottom {
  position: absolute;
  bottom: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.lineYText {
  position: absolute;
  bottom: 65px;
  left: -85px;
  transform: rotate(270deg);
}

.lineXText {
  position: absolute;
  bottom: -25px;
  left: 5px;
}
