.main {
  align-self: flex-start;
}

.tableHeaderContainer {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.tableListContainer {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
