:root {
  --dark-grey: #696969;
  --light-grey: #e3e4e7;
  --light-blue: #adb9c3;
  --dark-blue: #3878a2;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}
